.IngredientListItem {
  display: block;
  padding: 0.6rem 0rem;

  &__body {
  }

  &__meta {
    float: right;
    position: relative;
    top: 0.8rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s;

    &:hover {
      color: #6200ee;
    }
  }
}
